@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

:root {
  --primary: #00f0ff;
}

.text-primary {
  color: var(--primary);
}

.bg-primary {
  background-color: var(--primary);
}
